.logo{
    width: 20%;
    border-left: 1px black solid;
    padding-left: 3%; 
   padding-right: 5%;
}

.fa-instagram{
    padding-right: 3%;
}

.fa-compass, .fa-heart, .fa-user{
    margin-left: 35px;
}

.searchBar-text{
    padding: 5px 25px;
    text-align: center;
}

.searchBar-content{
    display: flex;
    align-items: center;
    padding: 20px 0;
    width: 600px;
    margin: 0 auto;
}

.searchBar-container{
    border-bottom: 1px solid lightgrey;
    margin-bottom: 3%;
}