.top-post-info{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid lightgray;
    background: white;
    color: black;
}

.top-post-info p{
    font-size: 1.1rem;
    font-weight: bold;
}

.profile-thumb{
    border-radius: 80%;
    width: 40px;
    margin-right: 15px;
}

img{
    width: 100%;
}

.comments{
    margin-top: -7px;
    border: 1px solid lightgray;
}

.comments h5{
    padding-left: 20px;
    text-align: left;
    margin: 20px 0 10px 0;
    font-size: 1rem;
}

.comment-input input{
    width: 92%;
    padding: 25px 10px;
    border: none;
    border-top: 1px solid lightgrey;
    font-size: .8rem;
    margin-top: 15px;
    
}

.posts{
    margin-bottom: 30px;
}

.icons{
    text-align: left;
}

.icons .fa-heart, .icons .fa-comment{
    margin-top: 20px;
    margin-right: 5px;
    margin-left: 15px;
}